/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*::selection{
	color: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #191A32;
  font-family: roboto;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: 25px;
}

.container {
  max-width: 850px;
  padding: 10px;
  width: 100%;
  margin: auto;
}

.container form .input-group {
  width: 100%;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
  border-radius: 15px;
}

.container form .input-group .label {
  background: #191A32;
  position: absolute;
  line-height: 15px;
  font-size: 15px;
  top: -7px;
  padding: 0 10px;
  left: 25px;
}

.container form .input-group input {
  border: 0;
  padding: 20px 5px;
  background: transparent;
  outline: none;
  color: white;
}

.container form .input-group input:focus {
  color: #33E6F6;
}

.container form .form-input {
  position: relative;
}

.container form .form-input input, .container form .form-input select, .container form .form-input textarea {
  margin: 15px 0;
  width: 100%;
  background: transparent;
  padding: 20px 5px;
  border: 1px solid gray;
  border-radius: 15px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
}

.container form .form-input input:focus, .container form .form-input select:focus, .container form .form-input textarea:focus {
  border: 1px solid #33E6F6;
  background: #191A32;
}

.container form .form-input label {
  position: absolute;
  background: #191A32;
  color: white;
  top: 7px;
  left: 25px;
  padding: 0 10px;
}

.container form .form-input select:focus {
  background: #191A32;
}

.container form .form-submit {
  cursor: pointer;
}

.container form .form-submit input {
  background: #33E6F6;
  padding: 17px;
  text-align: center;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.container form .switch .label {
  background: #191A32;
  line-height: 15px;
  font-size: 15px;
  top: -7px;
  color: white;
  padding: 0 10px;
  left: 25px;
}
/*# sourceMappingURL=app.css.map */




  .switch input[type="checkbox"] {
	width: 0;
	height: 0;
	visibility: hidden;
  }
  .switch label {
	width: 100%;
	height: 36px;
	display: block;
	border-radius: 100px;
	position: relative;
	cursor: pointer;
	transition: 0.5s;
	background: #151529;
  }
  .switch label::after {
	content: "Non";
	width: 50%;
	height: 32px;
	background-color: #191A32;
	position: absolute;
	border-radius: 70px;
	top: 2px;
	left: 2px;
	transition: 0.5s;
	text-align: center;
	line-height: 32px;
	color: #33E6F6;
  }
  
  .switch input:checked + label:after {
	content: "Oui";
	left: calc(100% - 3px);
	transform: translateX(-100%);
  }
  
  .switch input:checked + label {
	background-color: #151529;
  }
  
  .switch label:active:after {
	width: 50%;
  }
  